@import "tailwindcss";

@theme {
    --font-primary: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif,
        serif;

}

/* *:focus {
    outline: none !important;
} */

.specialHeaderBackground {
    backdrop-filter: blur(6px);
}

.specialHeaderBackground2 {
    backdrop-filter: blur(4px);
}

.juju1 {
    inset: 187px auto auto 260px;
    background-color: #ffffff29;
    box-shadow: 1px 0px 0px 0px #ffffff3a;
}

.transformTranslateClass {
    transform: translate(-300px);
}